In [ ]:
import pandas as pd
import numpy as np

# 데이터 프레임 생성
1) 100에서 200 사이의 값을 60개를 생성합니다(np.random.randint 이용)

2) 생성한 결과를 12,5 형태로 변환합니다.

3) 변환된 데이터를 이용하여 df 데이터 프레임을 생성합니다.

In [ ]:
#코드를 입력해 주세요
np.random.seed(1234)
df = pd.DataFrame(np.random.randint(100,200,60).reshape(12, 5))
df

# 컬럼명 변경
- 컬럼명을 ['P01', 'P02', 'P03', 'P04', 'P05']로 수정하세요.

In [ ]:
#코드를 입력해 주세요
# columns 속성 이용

# 인덱스 변경
- 인덱스를 2020년 1월 부터 2020년 12월까지 마지막 요일로 설정하세요.

In [ ]:
#코드를 입력해 주세요
# index 생성 
# date_range 함수 이용 (주기는 월(M)으로 설정)
date = pd.date_range('20200101','20201231', freq='M')

# index 속성 이용하여 date 변수를 index로 지정하세요.
코드

# 데이터 선택
- 2020년 4월부터 6월까지 행을 출력하세요.

In [ ]:
#코드를 입력해 주세요

- 2020년 05월 31일의 P01 컬럼 ~ P03 컬럼을 출력하세요.

In [ ]:
#코드를 입력해 주세요

- 2020년 01월 31일의 P01 컬럼부터 P05 컬럼의 값을 0으로 설정하세요.

In [ ]:
#코드를 입력해 주세요
# df.loc[행 인덱스, 열 인덱스] = 값

- 각 행의 합을 이용하여 Total 컬럼을 생성하세요
    - total = P01 + P02 + P03 + P04 + P05

In [ ]:
#코드를 입력해 주세요
# df[새로운컬럼명] = 값

- Total 컬럼을 Total 컬럼의 총합 값으로 나누어 Total Rate 컬럼을 생성하세요.

In [ ]:
#코드를 입력해 주세요

- Total Rate 컬럼이 가장 낮은 3달을 출력하세요.

In [ ]:
#코드를 입력해 주세요

- Total 값이 700 미만인 데이터를 출력하세요.

In [ ]:
#코드를 입력해 주세요

- Total 값이 700 미만이면 Bad 700 이상이면 Good의 값을 가지는 state 컬럼을 생성하세요.

In [ ]:
#코드를 입력해 주세요
df.loc[조건, 컬럼명] = 값 # Bad
df.loc[조건, 컬럼명] = 값 # Good

- state 컬럼의 Good과 Bad의 갯수를 계산하세요.

In [ ]:
#코드를 입력해 주세요

- 합계 행을 추가하세요.

In [ ]:
#코드를 입력해 주세요
df.loc[행 이름, 열 범위] = 값

- Total 컬럼의 합계 값을 이용하여 P01부터 P05까지의 비율을 계산 후 합계 비율 행을 추가하세요.

In [ ]:
#코드를 입력해 주세요
df.loc[행 이름, 열 범위] = 값